recursive-include compushady/backends *.cpp *.h

include compushady/backends/libdxcompiler_x86_64.so
include compushady/backends/libdxcompiler_aarch64.so
include compushady/backends/libdxcompiler_armhf.so

global-exclude *.so
global-exclude *.pyc
global-exclude __pycache__